# Pandas library guide

In [32]:
import pandas as pd
import numpy as np

Pandas dataframe:
table that contains an array of individual entries, each of which has a certain value.
Each entry corresponds to a row and a column.

In [2]:
pd.DataFrame({'Apple': [50, 21], 'Banana': [131, 2]}, index=['Monday', 'Tuesday'])

         Apple  Banana
Monday      50     131
Tuesday     21       2

Pandas series: a sequence of data values; it's basically a list. In essence, it's a single column of a DataFrame.

A Series does not have a column name, it only has one overall "name"

In [3]:
pd.Series([12, 7, 35], index=['Day 1', 'Day 2', 'Day 3'], name='# of customers')

Day 1    12
Day 2     7
Day 3    35
Name: # of customers, dtype: int64

Reading a csv file example available on kaggle at this link: https://www.kaggle.com/datasets/zynicide/wine-reviews

In [4]:
# library to download directly from Kaggle

import kagglehub

# Download latest version
path = kagglehub.dataset_download("zynicide/wine-reviews")

print("Path to dataset files:", path)

wine_data = pd.read_csv(path+"\\winemag-data-130k-v2.csv")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Path to dataset files: C:\Users\lucad\.cache\kagglehub\datasets\zynicide\wine-reviews\versions\4

In [5]:
# in  case I want to move the downloaded dataset to a specific folder

import kagglehub
import shutil
import os

# Download dataset
#path = kagglehub.dataset_download("zynicide/wine-reviews")

# Your desired target folder
#target_folder = "/your/custom/path/wine-reviews"

# Create the folder if it doesn't exist
#os.makedirs(target_folder, exist_ok=True)

# Move the downloaded files
#shutil.move(path, target_folder)

#print(f"Dataset moved to {target_folder}")

In [6]:
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [7]:
# fix indexing with index_col

wine_data = pd.read_csv(path+"\\winemag-data-130k-v2.csv", index_col=0)
wine_data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [8]:
wine_data.shape # dataset rows and columns

(129971, 13)

In [9]:
# select column

wine_data.province 
# or 
wine_data["province"]

0         Sicily & Sardinia
1                     Douro
2                    Oregon
3                  Michigan
4                    Oregon
                ...
129966                Mosel
129967               Oregon
129968               Alsace
129969               Alsace
129970               Alsace
Name: province, Length: 129971, dtype: object

**iloc** → index-based selection: selecting data based on its numerical position in the dataset

In [10]:
wine_data.iloc[1] # shows a specific row

country                                                           Portugal
description              This is ripe and fruity, a wine that is smooth...
designation                                                       Avidagos
points                                                                  87
price                                                                 15.0
province                                                             Douro
region_1                                                               NaN
region_2                                                               NaN
taster_name                                                     Roger Voss
taster_twitter_handle                                           @vossroger
title                        Quinta dos Avidagos 2011 Avidagos Red (Douro)
variety                                                     Portuguese Red
winery                                                 Quinta dos Avidagos
Name: 1, dtype: object

In [11]:
# first index we select the rows, second index the columns 
wine_data.iloc[:3, :]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

**loc** operator: label-based selection

In [12]:
wine_data.loc[:, ['designation', 'taster_name', 'variety']]

,designation,taster_name,variety
0,Vulkà Bianco,Kerin O’Keefe,White Blend
1,Avidagos,Roger Voss,Portuguese Red
2,NaN,Paul Gregutt,Pinot Gris
3,Reserve Late Harvest,Alexander Peartree,Riesling
4,Vintner's Reserve Wild Child Block,Paul Gregutt,Pinot Noir
...,...,...,...
129966,Brauneberger Juffer-Sonnenuhr Spätlese,Anna Lee C. Iijima,Riesling
129967,NaN,Paul Gregutt,Pinot Noir
129968,Kritt,Roger Voss,Gewürztraminer
129969,NaN,Roger Voss,Pinot Gris
129970,Lieu-dit Harth Cuvée Caroline,Roger Voss,Gewürztraminer

**Conditional selection in pandas**

Filtering with logical operators

In [13]:
wine_data.country == 'Argentina' # creates a series of True/False booleans based on the country of each record(row)

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [14]:
wine_data[wine_data.country == 'Argentina'] # filter the dataset based on a condition
wine_data[(wine_data.country == 'Argentina') & (wine_data.price >= 20)] # filter based on multiple conditions (and option)
wine_data[(wine_data.country == 'Argentina') | (wine_data.price >= 20)] # filter based on multiple conditions (or option)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

**isin** let's you select data whose value "is in" a list of values

In [15]:
wine_data[wine_data.country.isin(['Italy', 'Argentina'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
16,Argentina,"Baked plum, molasses, balsamic vinegar and che...",Felix,87,30.0,Other,Cafayate,NaN,Michael Schachner,@wineschach,Felix Lavaque 2010 Felix Malbec (Cafayate),Malbec,Felix Lavaque
17,Argentina,Raw black-cherry aromas are direct and simple ...,Winemaker Selection,87,13.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Gaucho Andino 2011 Winemaker Selection Malbec ...,Malbec,Gaucho Andino
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129943,Italy,"A blend of Nero d'Avola and Syrah, this convey...",Adènzia,90,29.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 Adènzia R...,Red Blend,Baglio del Cristo di Campobello
129947,Italy,"A blend of 65% Cabernet Sauvignon, 30% Merlot ...",Symposio,90,20.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend,Feudo Principi di Butera
129948,Argentina,Raspberry and cassis aromas are fresh and upri...,Pedernal,90,43.0,Other,San Juan,NaN,Michael Schachner,@wineschach,Finca Las Moras 2010 Pedernal Malbec (San Juan),Malbec,Finca Las Moras
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

**isnull and notnull**: highlight values which are (or are not) empty (NaN)

In [16]:
wine_data[wine_data.price.notnull()]   # non null price values in the dataset
wine_data[wine_data.price.isnull()]    # null price values in the dataset
wine_data[pd.isnull(wine_data.price)]  # another version for calling isnull

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
31,Italy,Merlot and Nero d'Avola form the base for this...,Calanìca Nero d'Avola-Merlot,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2010 Calanìca Nero d'Avola-...,Red Blend,Duca di Salaparuta
32,Italy,"Part of the extended Calanìca series, this Gri...",Calanìca Grillo-Viognier,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2011 Calanìca Grillo-Viogni...,White Blend,Duca di Salaparuta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129844,Italy,"Doga delle Clavule is a neutral, mineral-drive...",Doga delle Clavule,86,NaN,Tuscany,Morellino di Scansano,NaN,NaN,NaN,Caparzo 2006 Doga delle Clavule (Morellino di...,Sangiovese,Caparzo
129860,Portugal,This rich wine has a firm structure as well as...,Pacheca Superior,90,NaN,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta da Pacheca 2013 Pacheca Superior Red (D...,Portuguese Red,Quinta da Pacheca
129863,Portugal,This mature wine that has 50% Touriga Nacional...,Reserva,90,NaN,Dão,NaN,NaN,Roger Voss,@vossroger,Seacampo 2011 Reserva Red (Dão),Portuguese Red,Seacampo
129893,Italy,"Aromas of passion fruit, hay and a vegetal not...",Corte Menini,91,NaN,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Le Mandolare 2015 Corte Menini (Soave Classico),Garganega,Le Mandolare
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart

In [19]:
# we can replace missing values with fillna 
wine_data.region_1.fillna("Unknown")

0                        Etna
1                     Unknown
2           Willamette Valley
3         Lake Michigan Shore
4           Willamette Valley
                 ...
129966                Unknown
129967                 Oregon
129968                 Alsace
129969                 Alsace
129970                 Alsace
Name: region_1, Length: 129971, dtype: object

In [20]:
# if I have a non-null value that I'd like to replace
wine_data.taster_twitter_handle.unique()
wine_data.taster_twitter_handle.replace("@paulgwine\xa0", "@paulgwine")

0         @kerinokeefe
1           @vossroger
2           @paulgwine
3                  NaN
4           @paulgwine
              ...
129966             NaN
129967      @paulgwine
129968      @vossroger
129969      @vossroger
129970      @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

**Assigning data**

In [21]:
wine_data['checked'] = 'yes'
wine_data['checked']

0         yes
1         yes
2         yes
3         yes
4         yes
         ...
129966    yes
129967    yes
129968    yes
129969    yes
129970    yes
Name: checked, Length: 129971, dtype: object

## Summary functions

In [22]:
wine_data.describe() # describe() function provides statistical information about the numeric variables

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [23]:
# if I specify a string column I can still get a describe output
wine_data.country.describe()

count     129908
unique        43
top           US
freq       54504
Name: country, dtype: object

In [24]:
# "info" function to take a look at types of data
# allows checking columns dtype and non null count 
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
 13  checked                129971 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 14.9+ MB

In [25]:
wine_data.isnull().sum() # check how many null values per feature (column)

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
checked                      0
dtype: int64

In [43]:
# check percentage of values missing with respect to the total
total = np.product(wine_data.shape)
total_missing = wine_data.isnull().sum().sum()

# percentage of data that is missing
percent_missing = (total_missing/total) * 100
print("total missing percentage:",f"{percent_missing:.2f}%")

total missing percentage: 11.25%

In [26]:
wine_data.columns # list of dataset columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'checked'],
      dtype='object')

In [27]:
# statistic functions examples

wine_data.points.mean()
wine_data.points.min()
wine_data.points.max()

100

In [104]:
# The .corr() function in pandas computes the pairwise correlation coefficients between numeric columns in a DataFrame
# Notes: 1) Only numeric columns are included, 2) Uses Pearson correlation by default, 3) Doesn’t detect nonlinear relationships

wine_data.corr()

          points     price
points  1.000000  0.416167
price   0.416167  1.000000

In [28]:
# see list of unique values: I can use the unique() function

wine_data.taster_name.unique() # list of unique wine taster names that appear in the dataset

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [29]:
wine_data.taster_name.value_counts() # check how many times each wine taster name appears in the dataset

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

**grouping**: we can replicate value_counts() result by using groupby()

Each group we generate with groupby is like a slice of our original dataframe containing only data with values that match

In [30]:
# group entries by specific column values, then grab that column and count how many times it appeared
wine_data.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [99]:
wine_data.groupby('points').price.mean()

points
80      16.372152
81      17.182353
82      18.870767
83      18.237353
84      19.310215
85      19.949562
86      22.133759
87      24.901884
88      28.687523
89      32.169640
90      36.906622
91      43.224252
92      51.037763
93      63.112216
94      81.436938
95     109.235420
96     159.292531
97     207.173913
98     245.492754
99     284.214286
100    485.947368
Name: price, dtype: float64

In [100]:
wine_data.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                3800.0   4.0   230.0
Armenia                     2.0  14.0    15.0
Australia                2329.0   5.0   850.0
Austria                  3345.0   7.0  1100.0
Bosnia and Herzegovina      2.0  12.0    13.0
Brazil                     52.0  10.0    60.0
Bulgaria                  141.0   8.0   100.0
Canada                    257.0  12.0   120.0
Chile                    4472.0   5.0   400.0
China                       1.0  18.0    18.0
Croatia                    73.0  12.0    65.0
Cyprus                     11.0  11.0    21.0
Czech Republic             12.0  15.0    45.0
Egypt                       1.0   NaN     NaN
England                    74.0  25.0    95.0
France                  22093.0   5.0  3300.0
Georgia                    86.0   9.0    40.0
Germany                  2165.0   5.0   775.0
Greece                    466.0   8.0    79.0
Hungary                   146.0  10.0   764.0
India                       9.0  10.0    20.0
Israel                    505.0   8.0   150.0
Italy                   19540.0   5.0   900.0
Lebanon                    35.0  13.0    75.0
Luxembourg                  6.0  16.0    30.0
Macedonia                  12.0  15.0    20.0
Mexico                     70.0   8.0   108.0
Moldova                    59.0   8.0    42.0
Morocco                    28.0  14.0    40.0
New Zealand              1419.0   7.0   130.0
Peru                       16.0  10.0    68.0
Portugal                 5691.0   5.0  1000.0
Romania                   120.0   4.0   320.0
Serbia                     12.0  15.0    42.0
Slovakia                    1.0  16.0    16.0
Slovenia                   87.0   7.0    90.0
South Africa             1401.0   5.0   330.0
Spain                    6645.0   4.0   770.0
Switzerland                 7.0  21.0   160.0
Turkey                     90.0  14.0   120.0
US                      54504.0   4.0  2013.0
Ukraine                    14.0   6.0    13.0
Uruguay                   109.0  10.0   130.0

**Sorting**

In [55]:
wine_data.sort_values(by='price')
# or wine_data.sort_values(by='price', ascending=False) for descending order
# also just .sort() to sort a list in ascending order

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,checked
20484,US,"Fruity, soft and rather sweet, this wine smell...",NaN,85,4.0,California,Clarksburg,Central Valley,Jim Gordon,@gordone_cellars,Dancing Coyote 2015 White (Clarksburg),White Blend,Dancing Coyote,yes
112919,Spain,"Nice on the nose, this has a leafy note and a ...",Estate Bottled,84,4.0,Levante,Yecla,NaN,Michael Schachner,@wineschach,Terrenal 2010 Estate Bottled Tempranillo (Yecla),Tempranillo,Terrenal,yes
59507,US,"Sweet and fruity, this canned wine feels soft ...",Unoaked,83,4.0,California,California,California Other,Jim Gordon,@gordone_cellars,Pam's Cuties NV Unoaked Chardonnay (California),Chardonnay,Pam's Cuties,yes
31530,US,"Packaged in a cute yellow recyclable Tetrapak,...",NaN,84,4.0,California,California,California Other,NaN,NaN,Bandit NV Chardonnay (California),Chardonnay,Bandit,yes
61768,Spain,This opens with standard cherry and berry arom...,NaN,84,4.0,Levante,Yecla,NaN,Michael Schachner,@wineschach,Terrenal 2010 Cabernet Sauvignon (Yecla),Cabernet Sauvignon,Terrenal,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129844,Italy,"Doga delle Clavule is a neutral, mineral-drive...",Doga delle Clavule,86,NaN,Tuscany,Morellino di Scansano,NaN,NaN,NaN,Caparzo 2006 Doga delle Clavule (Morellino di...,Sangiovese,Caparzo,yes
129860,Portugal,This rich wine has a firm structure as well as...,Pacheca Superior,90,NaN,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta da Pacheca 2013 Pacheca Superior Red (D...,Portuguese Red,Quinta da Pacheca,yes
129863,Portugal,This mature wine that has 50% Touriga Nacional...,Reserva,90,NaN,Dão,NaN,NaN,Roger Voss,@vossroger,Seacampo 2011 Reserva Red (Dão),Portuguese Red,Seacampo,yes
129893,Italy,"Aromas of passion fruit, hay and a vegetal not...",Corte Menini,91,NaN,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Le Mandolare 2015 Corte Menini (Soave Classico),Garganega,Le Mandolare,yes
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart,yes

## Data Types

In [105]:
# check data type
wine_data.points.dtype

dtype('int64')

In [106]:
wine_data.dtypes # check all columns

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
checked                   object
dtype: object

In [107]:
wine_data.points.astype('float64') # convert a column into a given type

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

## Mapping methods in pandas

In [79]:
wine_data_price_mean = wine_data.price.mean()
wine_data.price.map(lambda p: p - wine_data_price_mean)
# map() returns a new series where all the values have been transformed by my function

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [80]:
def remean_price(row):
    row.price = row.price - wine_data_price_mean
    return row

wine_data.apply(remean_price, axis='columns') 

# apply() transforms a whole DataFrame by calling a custom method on each row/column

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,checked
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,yes
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,-20.363389,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,yes
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,-21.363389,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,yes
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,-22.363389,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,yes
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,29.636611,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,-7.363389,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),yes
129967,US,Citation is given as much as a decade of bottl...,NaN,90,39.636611,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,yes
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,-5.363389,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,yes
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,-3.363389,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,yes
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,-14.363389,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,yes

In [81]:
# but this is also enough for pandas to do the remean

wine_data_points_mean = wine_data.points.mean()
wine_data.points - wine_data_points_mean

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

## Renaming

In [114]:
# wine_data.rename(columns={'points': 'score'})

## Combining 

We can combine datasets using: concat(), join(), and merge()

concat(): concatenate pandas objects along a particular axis

join(): combines different datasets which have an index in common - join columns of another dataframe

merge(): merge DataFrame or named Series objects with a database-style join.

In [118]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Charlie', 'David'], 'Age': [35, 40]})

result = pd.concat([df1, df2], ignore_index=True)
# ignore index to reset the index in the resulting DataFrame after concatenation

result

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [119]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob']}, index=[0, 1])
df2 = pd.DataFrame({'Age': [25, 30]}, index=[0, 1])

# Join df2 to df1 based on the index
result = df1.join(df2)
result

    Name  Age
0  Alice   25
1    Bob   30

In [122]:
df1

    Name
0  Alice
1    Bob

In [128]:
# DataFrame with names and IDs
df1 = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['Alice', 'Bob']
})

# DataFrame with IDs and ages
df2 = pd.DataFrame({
    'ID': [1, 2],
    'Age': [25, 30]
})

result = pd.merge(df1, df2, on='ID')
result

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30

In [129]:
df1

   ID   Name
0   1  Alice
1   2    Bob

## Missing values & imputation

In [44]:
wine_data.isnull().sum() # check how many null values per feature(column)

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
checked                      0
dtype: int64

### Drop missing values

**dropna**: removes all the **rows** that contain a missing value

**dropna(axis=1)**: removes all the **columns** that contain a missing value

In [51]:
wine_data_copy = wine_data.copy() # copy the original dataset to play safely with it
wine_data_copy.dropna()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,checked
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,yes
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,yes
23,US,This wine from the Geneseo district offers aro...,Signature Selection,87,22.0,California,Paso Robles,Central Coast,Matt Kettmann,@mattkettmann,Bianchi 2011 Signature Selection Merlot (Paso ...,Merlot,Bianchi,yes
25,US,Oak and earth intermingle around robust aromas...,King Ridge Vineyard,87,69.0,California,Sonoma Coast,Sonoma,Virginie Boone,@vboone,Castello di Amorosa 2011 King Ridge Vineyard P...,Pinot Noir,Castello di Amorosa,yes
35,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129919,US,"This ripe, rich, almost decadently thick wine ...",Reserve,91,105.0,Washington,Walla Walla Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Nicholas Cole Cellars 2004 Reserve Red (Walla ...,Red Blend,Nicholas Cole Cellars,yes
129926,US,This pure Syrah from Reininger's estate vineya...,Ash Hollow Vineyard,91,41.0,Washington,Walla Walla Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Reininger 2005 Ash Hollow Vineyard Syrah (Wall...,Syrah,Reininger,yes
129945,US,Hailing from one of the more popular vineyards...,Jurassic Park Vineyard Old Vines,90,20.0,California,Santa Ynez Valley,Central Coast,Matt Kettmann,@mattkettmann,Birichino 2013 Jurassic Park Vineyard Old Vine...,Chenin Blanc,Birichino,yes
129949,US,There's no bones about the use of oak in this ...,Barrel Fermented,90,35.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Flora Springs 2013 Barrel Fermented Chardonnay...,Chardonnay,Flora Springs,yes
129950,US,This opens with herbaceous dollops of thyme an...,Blocks 7 & 22,90,35.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Hendry 2012 Blocks 7 & 22 Zinfandel (Napa Valley),Zinfandel,Hendry,yes

In [49]:
wine_data_copy = wine_data.copy() # copy the original dataset to play safely with it
wine_data_copy.dropna(axis=1)

,description,points,title,winery,checked
0,"Aromas include tropical fruit, broom, brimston...",87,Nicosia 2013 Vulkà Bianco (Etna),Nicosia,yes
1,"This is ripe and fruity, a wine that is smooth...",87,Quinta dos Avidagos 2011 Avidagos Red (Douro),Quinta dos Avidagos,yes
2,"Tart and snappy, the flavors of lime flesh and...",87,Rainstorm 2013 Pinot Gris (Willamette Valley),Rainstorm,yes
3,"Pineapple rind, lemon pith and orange blossom ...",87,St. Julian 2013 Reserve Late Harvest Riesling ...,St. Julian,yes
4,"Much like the regular bottling from 2012, this...",87,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Sweet Cheeks,yes
...,...,...,...,...,...
129966,Notes of honeysuckle and cantaloupe sweeten th...,90,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Dr. H. Thanisch (Erben Müller-Burggraef),yes
129967,Citation is given as much as a decade of bottl...,90,Citation 2004 Pinot Noir (Oregon),Citation,yes
129968,Well-drained gravel soil gives this wine its c...,90,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Domaine Gresser,yes
129969,"A dry style of Pinot Gris, this is crisp with ...",90,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Domaine Marcel Deiss,yes
129970,"Big, rich and off-dry, this is powered by inte...",90,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Domaine Schoffit,yes

### Imputation

**fillna()**: function to fill in missing values in a dataframe - we have to specify what we want the NaN values to be replaced with

We can specify the "method" parameter inside fillna() to specifiy the filling method: method{‘backfill’, ‘bfill’, ‘ffill’, None}, default None

In [53]:
wine_data_copy = wine_data.copy() # copy the original dataset to play safely with it
wine_data_copy.fillna(1) # replaces NaN values with 1

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,checked
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,1.0,Sicily & Sardinia,Etna,1,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,yes
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,1,1,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,yes
2,US,"Tart and snappy, the flavors of lime flesh and...",1,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,yes
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,1,Alexander Peartree,1,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,yes
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,1,1,Anna Lee C. Iijima,1,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),yes
129967,US,Citation is given as much as a decade of bottl...,1,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,yes
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,1,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,yes
129969,France,"A dry style of Pinot Gris, this is crisp with ...",1,90,32.0,Alsace,Alsace,1,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,yes
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,1,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,yes

In [ ]:
from sklearn.impute import SimpleImputer

wine_data_copy = wine_data.copy() # copy the original dataset to play safely with it

# Imputation
my_imputer = SimpleImputer()
# By default, SimpleImputer() Fills missing values (NaN) with the mean of each column (for numeric data)
imputed_wine_data = pd.DataFrame(my_imputer.fit_transform(wine_data))

## Scaling and Normalization


- **scaling**: change the range of your data
- **normalization**: change the shape of the distribution of your data.

Scale data when you're using methods based on measures of how far apart data points are, (e.g., support vector machines (SVM) or k-nearest neighbors (KNN)).

By scaling variables, we compare different variables on equal footing.

Normalization is a more radical transformation (scaling just changes the range of the data). 

Normalization used to change the observations so that they can be described as a normal distribution.

In general, we normalize data if we are going to be using a machine learning (ML) or statistics technique that assumes that the data is normally distributed (e.g., linear discriminant analysis (LDA), Gaussian naive Bayes).

**minmax_scale()**: scale each column/row independently

**stats.boxcox()**: Box-Cox Transformation to normalize data

## Parsing Dates


- 7/13/07 has the format "%m/%d/%y"
- 13-7-2007 has the format "%d-%m-%Y"

We can use **pd.to_datetime(data_column, format="%m/%d/%y")** to convert a date column to datetime or pd.to_datetime(data_column, infer_datetime_format=True) and let pandas guess. The latter is useful if we have multiple date format in the column, but it's generally slower than specifying the exact format of the dates.

Finally we can just use **.dt.day** to call the day of a given date now that has the datetime format.

## Correct inconsistent data entry

In [63]:
wine_data_copy = wine_data.copy()
wine_data_copy["country"].unique()

array(['italy', 'portugal', 'us', 'spain', 'france', 'germany',
       'argentina', 'chile', 'australia', 'austria', 'south africa',
       'new zealand', 'israel', 'hungary', 'greece', 'romania', 'mexico',
       'canada', nan, 'turkey', 'czech republic', 'slovenia',
       'luxembourg', 'croatia', 'georgia', 'uruguay', 'england',
       'lebanon', 'serbia', 'brazil', 'moldova', 'morocco', 'peru',
       'india', 'bulgaria', 'cyprus', 'armenia', 'switzerland',
       'bosnia and herzegovina', 'ukraine', 'slovakia', 'macedonia',
       'china', 'egypt'], dtype=object)

In [62]:
# It's typically a good idea to homogenize converting all entries to lower case and removing trailing with spaces 

# convert to lower case
wine_data['country'] = wine_data['country'].str.lower()
# remove trailing white spaces
wine_data['country'] = wine_data['country'].str.strip()

# We can then use the fuzzywuzzy package to help identify which strings are closest to each other.
import fuzzywuzzy
from fuzzywuzzy import process

# get the top 5 closest matches to "Italy"
matches = fuzzywuzzy.process.extract("Italy", wine_data_copy["country"].unique(), limit=5, 
                                     scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches

C:\Users\lucad\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

[('Italy', 100),
 ('Israel', 55),
 ('Portugal', 46),
 ('Australia', 43),
 ('Chile', 40)]

In [65]:
# Best thing is to write a function to allow us to easily fix an incosistent entry, e.g. if we have "italy" and "italie"

# Function that replaces rows in a specified column of a given DataFrame with a target string, 
# if they match the target string above a specified threshold ratio.

def replace_matches_in_column(df, column, target_string, min_ratio = 47):
    # get a list of unique strings in the specified column
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input(target) string
    matches = fuzzywuzzy.process.extract(target_string, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # identify the matches with a ratio > min_ratio
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # identify the rows of all the close matches in our input dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input(target) string 
    df.loc[rows_with_matches, column] = target_string
    
    # print when function is done
    print("Done!")

## Categorical Variables

Three main approaches:

- **Drop Categorical Variables**: drop columns containing categorical variables. It works well only if the columns do not contain useful information!

- **Ordinal encoding**: assign each unique value to a different integer. It makes sense when there is a clear ranking to the categories. **Ordinal variables** = categorical variables that have a clear ordering in the values. 

- **One-hot encoding**: create new columns indicating the presence (or absence) of each possible value in the original data. One-hot encoding does not assume an ordering of the categories. **Nominal variables** = categorical variables without an intrinsic ranking

In [67]:
# Get list of categorical variables contained in our dateset
wine_data_copy = wine_data.copy()
category = (wine_data_copy.dtypes == 'object')
cat_cols = list(category[category].index)
cat_cols

['country',
 'description',
 'designation',
 'province',
 'region_1',
 'region_2',
 'taster_name',
 'taster_twitter_handle',
 'title',
 'variety',
 'winery',
 'checked']

In [ ]:
# 1) drop categorical variables using the .select_dtypes() method
drop_X_train = X_train.select_dtypes(exclude=['object'])


# ordinal encoding using sklearn OrdinalEncoder class

from sklearn.preprocessing import OrdinalEncoder

# 2) Apply ordinal encoder to each column with categorical data
ordinal_encoder = OrdinalEncoder()
wine_data_copy[cat_cols] = ordinal_encoder.fit_transform(wine_data_copy[cat_cols])


# 3) one-hot encoding using sklearn OneHotEncoder class

from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(wine_data_copy[cat_cols]))

# One-hot encoding removed index; so now we put it back
OH_cols.index = wine_data_copy.index

# Remove categorical columns (we will replace them with one-hot encoding)
num_data = wine_data_copy.drop(cat_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_data = pd.concat([num_data, OH_cols], axis=1)

# Ensure all columns have string type
OH_data.columns = OH_data.columns.astype(str)

In [71]:
wine_data_copy2 = wine_data.copy()
pd.get_dummies(wine_data_copy2['country'], drop_first=True).head()

,argentina,armenia,australia,austria,bosnia and herzegovina,brazil,bulgaria,canada,chile,china,...,serbia,slovakia,slovenia,south africa,spain,switzerland,turkey,ukraine,uruguay,us
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Cutting dataset features

We can use pandas **cut()** function to split a feature into subcategories

In [100]:
wine_data_copy = wine_data.copy()
#wine_data_copy.points.describe()
wine_data_copy['points_range'] = pd.cut(wine_data_copy.points, [75.,85.,95.,100.], labels=['tier 3','tier 2','tier 1'])
wine_data_copy['points_range'].value_counts()

tier 2    107130
tier 3     21960
tier 1       881
Name: points_range, dtype: int64